@model CarFleetMS.Models.Ensurance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ensurance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnsuranceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnsuranceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameOfTheCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfTheCompany)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonCompany.PersonId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehicle.RegistrationNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EnsuranceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
