@model IEnumerable<CarFleetMS.Models.VehicleType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Variant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Variant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
