@*@model IEnumerable<CarFleetMS.Models.Vehicle>*@
@model CarFleetMS.Data.ViewModel.VehicleViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="AddVehicle">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Marka
            </th>
            <th>
                Model
            </th>
            <th>
                Numer rejestracyjny
            </th>
            <th>
                Ubezpieczenie ważne do
            </th>
          
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Vehicles.Count(); i++)
        {
            <tr>
                @for (var j = 0; j < Model.Models.Count(); j++)
                {
                    if (Model.Models.ElementAt(j).ModelId.Equals(Model.Vehicles.ElementAt(i).ModelId))
                    {
                        for (var k = 0; k < Model.Brands.Count(); k++)
                        {
                            if (Model.Brands.ElementAt(k).BrandId.Equals(Model.Models.ElementAt(j).BrandId))
                            {
                                <td>@Model.Brands.ElementAt(k).Name</td>
                            }
                        }
                        <td>@Model.Models.ElementAt(j).Name</td>
                    }
                }
                <td>
                    @Model.Vehicles.ElementAt(i).RegistrationNumber
                </td>

               

                @for (var j = 0; j < Model.Ensurances.Count(); j++)
                {
                    if (Model.Ensurances.ElementAt(j).VehicleId.Equals(Model.Vehicles.ElementAt(i).VehicleId))
                    {
                        <td>@Model.Ensurances.ElementAt(j).EndDate</td>
                    }

                }

                <td>
                    <a asp-action="EditVehicle" asp-route-id="@Model.Vehicles.ElementAt(i).VehicleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.Vehicles.ElementAt(i).VehicleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Vehicles.ElementAt(i).VehicleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

