@model IEnumerable<CarFleetMS.Models.PersonCompany>

@{
    ViewData["Title"] = "Index";
}

<h2>Osoby</h2> 

<p>
    <a asp-action="AddPerson">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Osoby fizyczne
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.IsPerson)
                {
                    <td>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)</td>
                    <td></td>
                    <td></td>
                    <td>
                        <a asp-action="EditPerson" asp-route-id="@item.PersonId">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.PersonId">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.PersonId">Usuń</a>
                    </td>
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Firmy
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (!item.IsPerson)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>

                        <td>
                            <a asp-action="EditPerson" asp-route-id="@item.PersonId">Edytuj</a> |
                            <a asp-action="Details" asp-route-id="@item.PersonId">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.PersonId">Usuń</a>
                        </td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
