@model IEnumerable<CarFleetMS.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.RegistrationNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuelInvoiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FuelInvoiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FuelInvoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
